
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Yeseva+One&display=swap');

$fontMain: 'Poppins', sans-serif;

$fontSize: 62.5%;

/*tamaño texto*/
$textXXll: 6rem;
$textXXl: 5rem;
$textXl: 4rem;
$textLg: 3rem;
$textMdh: 2.5rem;
$textMd: 2rem;
$textSmh: 1.5rem;
$textSmt: 1.2rem;
$textSm: 1rem;
$textXs:0.5rem;

/*grosor letra*/
$fontXl: 500;
$fontMd: 400;
$fontSm: 300;
$fontBold: bold;

/*cursiva*/
$fontItalic: italic;


